{% extends 'base.html' %}

{% block content %}

<h1 class="text-center"> Sign Up! </h1>

<br />
<br />

<div class="container text-center">


  {% if error %}
  <font color="red">{{ error }}</font>
  <br />
  <br />
  {% endif %}

  <form method="POST" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    Username:
    <br />
    <input type="text" name="username" />
    <br />
    Password:
    <br />
    <input type="password" name="password1" />
    <br />
    Confirm Password:
    <br />
    <input type="password" name="password2" />
    <br />
    <br />
    <input class="btn btn-secondary btn-sm" type="submit" value="Sign up!" />
  <form/>

</div>

{% endblock %}
