{% extends 'base.html' %}

{% block content %}

<h1 class="text-center"> Welcome to {{ posts.first.author.username }}'s page! </h1>
<br/>
<br/>

<div class="container">
<a href="{% url 'home' %}"><span class="oi oi-arrow-left" title="Back" aria-hidden="true" style="color:black"> Home</span></a>
</div>
<div class="container text-center">

  {% if user.is_authenticated %}
  <hr />
  {% if request.user.username == posts.first.author.username %}
  {% for post in posts.all %}
  <br/>
  <table style="width:100%">
    <tr>
      <td class="text-center" style="width:10%">
          <span class="oi oi-caret-top" title="caret-top" aria-hidden="true" style="color:#808080"></span><br/>
        {{ post.votes_total }}<br/>
          <span class="oi oi-caret-bottom" title="caret-bottom" aria-hidden="true" style="color:#808080"></span><br/>

      </td>
      <td style="text-align:center">
      <h3>{{ post.title }}</h3>
      {{ post.url }}
      <br/>
      {{ post.pub_date_pretty }} by {{ post.author.username }}


      </td>
      <td style="width:10%; text-align:center">

        <a href="{% url 'posts:update' post.id %}" class="btn btn-secondary btn-sm" >Update</a><br/><br/>
        <a href="#" class="btn btn-secondary btn-sm" onclick="myFunction('delete{{ post.id }}')">Delete</a>
  <!--      <a href="#" class="btn btn-secondary btn-sm" onclick="document.getElementById('delete{{ post.id }}').submit()">Delete</a> -->
        <form id="delete{{ post.id }}" method="POST" action="{% url 'posts:delete' post.id %}">
          {% csrf_token %}
          <input type="hidden">
        </form>

      </td>
    </tr>
  </table>
  <br/>
  <hr />
  {% endfor %}
  {% else %}
  {% for post in posts.all %}
  <br/>
  <table style="width:100%">
    <tr>
      <td class="text-center" style="width:10%">
        <a href="#" onclick="document.getElementById('upvote{{ post.id }}').submit()">
          <span class="oi oi-caret-top" title="caret-top" aria-hidden="true" style="color:black"></span></a><br/>
        {{ post.votes_total }}<br/>
        <a href="#" onclick="document.getElementById('downvote{{ post.id }}').submit()">
          <span class="oi oi-caret-bottom" title="caret-bottom" aria-hidden="true" style="color:black"></span></a>
        <form id="upvote{{ post.id }}" method="POST" action="{% url 'posts:upvote' post.id %}">
          {% csrf_token %}
          <input type="hidden">
        </form>
        <form id="downvote{{ post.id }}" method="POST" action="{% url 'posts:downvote' post.id %}">
          {% csrf_token %}
          <input type="hidden">
        </form><br/>

      </td>
      <td style="text-align:center">
      <h3>{{ post.title }}</h3>
      {{ post.url }}
      <br/>
      {{ post.pub_date_pretty }} by {{ post.author.username }}


      </td>
      <td style="width:10%"></td>
    </tr>
  </table>
  <br/>
  <hr />
  {% endfor %}
  {% endif %}
  {% endif %}

</div>
<script>
function myFunction(del) {
    if (confirm("Are you sure you want to DELETE post permanently?")){
      document.getElementById(del).submit()
    }
}
</script>
{% endblock %}
