{% extends 'base.html' %}

{% block content %}


<h1 class="text-center"> Welcome to Reddit Clone home page! </h1>
<br/>
<br/>
<noscript>
  <div style="border: 1px solid purple; padding: 10px">
    <span class="text-center" style="color:red">JavaScript is not enabled in your browser!<br/>Some functionality might not work</span>
  </div>
</noscript>
<br/>

<div class="container text-center">

  {% if user.is_authenticated %}
  <hr />
  {% for post in posts.all %}
  <br/>
  <table style="width:100%">
    <tr>
      {% if request.user.username == post.author.username %}
      {% endif %}
      {% if request.user.username == post.author.username %}
      <td class="text-center" style="width:10%">
          <span class="oi oi-caret-top" title="caret-top" aria-hidden="true" style="color:#808080"></span><br/>
        {{ post.votes_total }}<br/>
          <span class="oi oi-caret-bottom" title="caret-bottom" aria-hidden="true" style="color:#808080"></span><br/>
      </td>
      {% else %}
      <td class="text-center" style="width:10%">
        <a href="#" onclick="document.getElementById('upvote{{ post.id }}').submit()">
          <span class="oi oi-caret-top" title="caret-top" aria-hidden="true" style="color:black"></span></a><br/>
        {{ post.votes_total }}<br/>
        <a href="#" onclick="document.getElementById('downvote{{ post.id }}').submit()">
          <span class="oi oi-caret-bottom" title="caret-bottom" aria-hidden="true" style="color:black"></span></a>
        <form id="upvote{{ post.id }}" method="POST" action="{% url 'posts:upvote' post.id %}">
          {% csrf_token %}
          <input type="hidden">
        </form>
        <form id="downvote{{ post.id }}" method="POST" action="{% url 'posts:downvote' post.id %}">
          {% csrf_token %}
          <input type="hidden">
        </form><br/>
      </td>
      {% endif %}
      <td style="text-align:center">
      <h3>{{ post.title }}</h3>
      {{ post.url }}
      <br/>
      {{ post.pub_date_pretty }} by <a href="{% url 'posts:allposts' post.author_id %}" hover="color:blue" style="color:black; text-decoration: underline">{{ post.author.username }}</a>


      </td>
      <td style="width:10%"></td>
    </tr>
  </table>
  <br/>
  <hr />
  {% endfor %}

  {% else %}
  <hr />
  <h3>You need to be logged in to read posts</h3>
  <a href="accounts/signup">Sign up</a>
  or <a href="accounts/login">Log in</a> to see all of the posts
  <br/>
  <br/>
  <hr />
  {% endif %}

</div>

{% endblock %}
